TITANIC PRACTICE - PIPELINE PROCESS PREPROCESS/TRAIN

In [10]:
import pandas as pd
import numpy as np
import requests
import json
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [3]:
#read dataset
data_path = r'C:\Users\migro\Documents\GitHub\modulo_III\TITANIC\data\phpMYEkMl.csv'
df = pd.read_csv(data_path)

In [71]:
#missing data detected with '?'
df.replace('?', np.nan, inplace=True)

In [72]:
#completitud
completitud = pd.DataFrame((1-df.isnull().sum()/df.shape[0])*100).reset_index().rename(columns={"index":"columna",0:"% completitud"})
c = 70
print(f''' 
Total: {len(list(completitud.columna))}
Número de variables con menos del {c}%: {len(list(completitud[completitud['% completitud']<c].columna))}
Restante: {len(list(completitud[completitud['% completitud']>=c].columna))}
''')
completitud.sort_values(by='% completitud')
#hay d

Total: 14
Número de variables con menos del 70%: 4
Restante: 10

      columna  % completitud
12       body       9.243697
9       cabin      22.536287
11       boat      37.127578
13  home.dest      56.913675
4         age      79.908327
10   embarked      99.847212
8        fare      99.923606
0      pclass     100.000000
1    survived     100.000000
2        name     100.000000
3         sex     100.000000
5       sibsp     100.000000
6       parch     100.000000
7      ticket     100.000000

In [68]:
df.drop(['boat','body','home.dest'],axis=1,inplace=True)
df.shape

(1309, 10)

In [58]:
df.describe()

            pclass     survived        sibsp        parch
count  1309.000000  1309.000000  1309.000000  1309.000000
mean      2.294882     0.381971     0.498854     0.385027
std       0.837836     0.486055     1.041658     0.865560
min       1.000000     0.000000     0.000000     0.000000
25%       2.000000     0.000000     0.000000     0.000000
50%       3.000000     0.000000     0.000000     0.000000
75%       3.000000     1.000000     1.000000     0.000000
max       3.000000     1.000000     8.000000     9.000000

In [59]:
df.dtypes

pclass       int64
survived     int64
name        object
sex         object
age         object
sibsp        int64
parch        int64
ticket      object
fare        object
embarked    object
dtype: object

In [60]:
for col in df.columns:
    print(col)
    print('='*len(col))
    print(df[col].value_counts(dropna=False))
    print()

pclass
======
3    709
1    323
2    277
Name: pclass, dtype: int64

survived
========
0    809
1    500
Name: survived, dtype: int64

name
====
Connolly, Miss. Kate             2
Kelly, Mr. James                 2
Allen, Miss. Elisabeth Walton    1
Ilmakangas, Miss. Ida Livija     1
Ilieff, Mr. Ylio                 1
                                ..
Hart, Miss. Eva Miriam           1
Harris, Mr. Walter               1
Harris, Mr. George               1
Harper, Rev. John                1
Zimmerman, Mr. Leo               1
Name: name, Length: 1307, dtype: int64

sex
===
male      843
female    466
Name: sex, dtype: int64

age
===
NaN       263
24         47
22         43
21         41
30         40
         ...
66          1
0.6667      1
76          1
67          1
26.5        1
Name: age, Length: 99, dtype: int64

sibsp
=====
0    891
1    319
2     42
4     22
3     20
8      9
5      6
Name: sibsp, dtype: int64

parch
=====
0    1002
1     170
2     113
3       8
4       6
5       6
6       2
9       2
Name: parch, dtype: int64

ticket
======
CA. 2343    11
1601         8
CA 2144      8
PC 17608     7
347077       7
            ..
373450       1
2223         1
350046       1
3101281      1
315082       1
Name: ticket, Length: 929, dtype: int64

fare
====
8.05       60
13         59
7.75       55
26         50
7.8958     49
           ..
15.05       1
14          1
15.5792     1
12          1
7.875       1
Name: fare, Length: 282, dtype: int64

embarked
========
S      914
C      270
Q      123
NaN      2
Name: embarked, dtype: int64

In [61]:
df['age'] = df['age'].astype('float')
df['fare'] = df['fare'].astype('float')

In [25]:
target = 'survived'
num_vars = [col for col in df.columns if df[col].dtype != object and col != target]
cat_vars = [col for col in df.columns if df[col].dtype == object]

In [88]:
def extract_title(input_string):
    return input_string.split(',')[1].split('.')[0].strip()

def extract_cabin(input_string):
    return np.nan if pd.isnull(input_string) else input_string[0][0]

df['title'] = df['name'].apply(extract_title)
df['cabin_letter'] = df['cabin'].apply(extract_cabin)
df.drop()

# REQUESTS

In [2]:
import requests

url = "https://gorest.co.in/public/v2/users/?page=3"

payload={}
headers = {}

response = requests.request("GET", url, headers=headers, data=payload)

print(response.text)

[{"id":3087,"name":"Pushti Kaul","email":"pushti_kaul@abernathy.co","gender":"female","status":"active"},{"id":3086,"name":"Anilaabh Kocchar","email":"anilaabh_kocchar@hartmann.biz","gender":"male","status":"inactive"},{"id":3085,"name":"Ms. Aadrika Sharma","email":"aadrika_ms_sharma@goodwin-schaden.com","gender":"female","status":"inactive"},{"id":3084,"name":"Ekaparnika Namboothiri DVM","email":"namboothiri_ekaparnika_dvm@weber.org","gender":"female","status":"inactive"},{"id":3083,"name":"Deepesh Menon","email":"deepesh_menon@shields.com","gender":"female","status":"inactive"},{"id":3082,"name":"Ujjawal Saini","email":"saini_ujjawal@lang.info","gender":"female","status":"inactive"},{"id":3081,"name":"Dayaamay Kapoor","email":"dayaamay_kapoor@heller.name","gender":"male","status":"inactive"},{"id":3080,"name":"Amogh Varman II","email":"varman_ii_amogh@nader.biz","gender":"male","status":"inactive"},{"id":3079,"name":"Gajabahu Abbott","email":"abbott_gajabahu@rohan.name","gender":"female","status":"active"},{"id":3078,"name":"Shresth Mukhopadhyay","email":"mukhopadhyay_shresth@crona.org","gender":"female","status":"active"}]

In [ ]:


url = "https://gorest.co.in/public/v2/users"

#json en string
payload = json.dumps({
  "name": "Rodrigo Saavedra",
  "email": "ro_saav@abernathy.co",
  "gender": "male",
  "status": "active"
})
headers = {
  'Authorization': 'Bearer ',
  'Content-Type': 'application/json'
}

response = requests.request("POST", url, headers=headers, data=payload)

print(response.text)

In [7]:

url = "https://gorest.co.in/public/v2/users/4132"

payload={}
headers = {
  'Authorization': 'Bearer '
}

response = requests.request("GET", url, headers=headers, data=payload)

print(response.text)

{"id":4132,"name":"Rodrigo Saavedra","email":"rodrigo_saavedra@abernathy.mx","gender":"male","status":"active"}

In [9]:
import requests
import json

url = "https://gorest.co.in/public/v2/posts/1647/comments"

payload = json.dumps({
  "post": "Segundo comentario",
  "body": "Hola mundo 2",
  "name": "Felipe Hernandez",
  "email": "pipe_hdez@abernathy.mx"
})
headers = {
  'Authorization': 'Bearer ',
  'Content-Type': 'application/json'
}

response = requests.request("POST", url, headers=headers, data=payload)

print(response.text)

{"id":1648,"post_id":1647,"name":"Felipe Hernandez","email":"pipe_hdez@abernathy.mx","body":"Hola mundo 2"}

In [ ]:
import requests

url = "https://gorest.co.in/public/v2/users/4132"

payload={}
headers = {
  'Authorization': 'Bearer '
}

response = requests.request("DELETE", url, headers=headers, data=payload)

print(response.text)